article{
    height: 30px;
    border:solid 1px blueviolet;
}
section{
    height: 30px;
    border:solid 1px;
}
footer{
    height: 30px;
    border:solid 1px;  
}
section{
    height: 30px;
    border:solid 1px;  
}